<ion-content [fullscreen]="true" class="plano-de-fundo">
  <ion-menu contentId="main-content" >
    <ion-header >
      <ion-toolbar color="danger">
        <ion-title>Super Mário</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding fundo_menu">
      <ion-button  color="danger" expand="full" shape="round" routerLink="/home">home</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/super-mario">Super Mário</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/luigi">Luigi</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/yoshi">Yoshi</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/bowser">Bowser</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/toad">Toad</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/wario">Wario</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/waluigi">Waluigi</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/rosalina">Rosalina</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/diddy-kong">Diddy Kong</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/lakitu">Lakitu</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/shy-guy">Shy Guy</ion-button>
      <ion-button  color="warning" expand="full" shape="round" routerLink="/sobre">Sobre</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Personagem</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Corpo -->
    <ion-content class="ion-padding">
      <ion-row  >
        <ion-col class="centro" >
          <ion-item>
          <h1 class="title">Wario</h1> 
          
         </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="conteudo">
        <ion-col size-lg="6" size-md="8" size="12">
          <ion-card>
            
              <img alt="Silhouette of mountains" src="https://play.nintendo.com/images/Masthead_Wario.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png" />
          
          
            <ion-card-content>
                <p class="espaco">Origem: Wario é um personagem fictício criado pela Nintendo e é conhecido como um "anti-herói" na franquia Mario.</p> 
              
                <p class="espaco">Aparência: Wario é retratado como um homem corpulento com um bigode grosso, pele amarelada e olhos arregalados. Ele geralmente é mostrado usando um macacão roxo com botões amarelos e um boné amarelo com uma letra "W" nele.</p>
              
              
                <p class="espaco">Personalidade: Wario é conhecido por ser ganancioso, egoísta e travesso. Ele está frequentemente em busca de tesouros, dinheiro e poder, muitas vezes entrando em conflito com Mario e seus amigos. Wario tem uma personalidade robusta e muitas vezes é retratado como um personagem excêntrico e debochado.</p>
              
               
                <p class="espaco">Habilidades: Wario possui força física excepcional e é capaz de realizar ataques poderosos, como o "Shoulder Bash" (investida de ombro) e o "Ground Pound" (pulso no chão). Ele também é conhecido por sua resistência e resistência a certos efeitos negativos.</p>
             
              
                <p class="espaco">Papel nos jogos: Wario estreou como um antagonista em "Super Mario Land 2: 6 Golden Coins" em 1992 e posteriormente estrelou em vários jogos próprios, como a série "Wario Land" e "WarioWare". Nessas séries, ele embarca em suas próprias aventuras e desafios.</p>
              
              
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
      


    </ion-content>
  </div>


</ion-content>
