<ion-content [fullscreen]="true" class="plano-de-fundo">
  <ion-menu contentId="main-content" >
    <ion-header >
      <ion-toolbar color="danger">
        <ion-title>Super Mário</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding fundo_menu">
      <ion-button  color="danger" expand="full" shape="round" routerLink="/home">home</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/super-mario">Super Mário</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/luigi">Luigi</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/yoshi">Yoshi</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/bowser">Bowser</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/toad">Toad</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/wario">Wario</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/waluigi">Waluigi</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/rosalina">Rosalina</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/diddy-kong">Diddy Kong</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/lakitu">Lakitu</ion-button>
      <ion-button  color="danger" expand="full" shape="round" routerLink="/shy-guy">Shy Guy</ion-button>
      <ion-button  color="warning" expand="full" shape="round" routerLink="/sobre">Sobre</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Personagem</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Corpo -->
    <ion-content class="ion-padding">
      <ion-row  >
        <ion-col class="centro" >
          <ion-item>
          <h1 class="title">Diddy Kong</h1> 
          
         </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="conteudo">
        <ion-col size-lg="6" size-md="8" size="12">
          <ion-card>
            
              <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/pt/c/cc/Diddy_Kong.png" />
           
          
            <ion-card-content>
              
                <p class="espaco">Origem: Diddy Kong é um personagem fictício criado pela Rare Ltd. em parceria com a Nintendo e é frequentemente retratado como o companheiro e aprendiz de Donkey Kong.</p>
              
              
                <p class="espaco">Aparência: Diddy Kong é retratado como um macaco pequeno e ágil. Ele tem pelagem marrom com uma barriga clara e um gorro vermelho com iniciais "DK" nele.</p>
              
               
                <p class="espaco">Personalidade: Diddy Kong é conhecido por sua personalidade animada, curiosa e brincalhona. Ele é retratado como um personagem cheio de energia, sempre disposto a embarcar em aventuras e enfrentar desafios ao lado de Donkey Kong. Diddy Kong é amigável, leal e muitas vezes demonstra uma atitude otimista.</p>
             

                <p class="espaco">Habilidades: Diddy Kong é ágil e rápido, sendo capaz de saltar alturas consideráveis e se mover com agilidade. Ele também é habilidoso com um par de pistolas de coco chamadas "Peanut Popguns", que disparam amendoins como projéteis.</p>
              
              
                <p class="espaco">Papel nos jogos: Diddy Kong apareceu pela primeira vez como um personagem jogável em "Donkey Kong Country" em 1994. Ele desempenha papéis importantes em jogos subsequentes da série "Donkey Kong Country" e em outros títulos, como "Diddy Kong Racing" e "Super Smash Bros."</p>
           
           
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
      


    </ion-content>
  </div>


</ion-content>
